html {
    scroll-behavior: smooth;
}

::selection {
    background: #2ecc96;
    color: #0f1322;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #0f1322;
}
::-webkit-scrollbar-thumb {
    background: #2ecc9640;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #2ecc96;
}
